body{
  background-color: #fffdf9;
  text-align: center;
}

.button-text{
  float: right;
}

.icon{
  padding: 1px;
}


h1{
  font-family: "Montserrat";
}

.intro-img{
  height: 100%;
  width: 100%;
}
.cont{
  margin: 0%;
  font-family: "ubuntu";
}

#navbarTogglerDemo01{
  color: #f1f1f1;
}

.nav-item{
  padding: 0% 5%;
}

.introduction{
  line-height: 1.5;
  font-size: 3rem;
  margin: auto;
  background: "images/IMG_8130.JPG";
  padding: 7%;
  box-sizing: border-box;
}

/* .wrap{
  background-image: url(F:/studies/WEB-DEVELOPMENT/CSS-MySite/images/IMG_8130.JPG);
  width:100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* .image{
  justify-content: center;
    min-height: 75vh;
    height: 75vh;
    position: relative;
    background: #000;
    background-image: url(F:/studies/WEB-DEVELOPMENT/CSS-MySite/images/IMG_8130.JPG);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
} */
