body {
    text-align: center;
    overflow-x: hidden
}

h3 {
    margin: 2%;
    font-family: 'Montserrat', sans-serif;
}

.snapshot {
    height: 600px;
    width: 100%;
}

.set-logo {
    margin: auto;
}
